<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dadsunion.tron.mapper.TronChainRecordMapper">

    <resultMap type="TronChainRecord" id="TronChainRecordResult">
        <result property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="height" column="height"/>
        <result property="contractAddr" column="contract_addr"/>
        <result property="from" column="from"/>
        <result property="to" column="to"/>
        <result property="amount" column="amount"/>
        <result property="bandwidth" column="bandwidth"/>
        <result property="energy" column="energy"/>
        <result property="bornTrx" column="born_trx"/>
        <result property="blockInfo" column="block_info"/>
        <result property="state" column="state"/>
        <result property="errMsg" column="err_msg"/>
        <result property="relatedId" column="related_id"/>
        <result property="remark" column="remark"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="crate_time"/>
        <result property="chainTime" column="chain_time"/>
    </resultMap>


</mapper>